* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/cork.png);
}
h1 {
    background-image: url(../img/wall.png);
    text-align: center;
    padding: 20px;
    
}

.card {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
    max-width: 400px;
    padding: 10px;

  /*background-image: url(../img/pin.svg);
    background-repeat: no-repeat;
    background-position: top center ;
    background-size: 40px; */

}

.card title {
    font-weight: bold;
}

.edu_font{
font-family: "Edu TAS Beginner", cursive;    
}

.mono_font{
font-family: "Sometype Mono", monospace;    
}

.foto_image {
    display: block;
    max-width: 100%;
    height: auto;

}

.pin{
    width: 40px;
    position: absolute;
    transform: translate(175px, -15px);
}